<div>
  <span class="rating"> [ <%= review.rating %> ] </span>
  <span class="comment-user text-info"><%= review.user.name %></span>
  <span class="comment-description">: <%= review.description %> </span>
  <hr/>
</div>